{% extends 'base.html' %}
{% load static %}
{% block title %}OpenVPN plain certification list{% endblock %}
{% block content %}

{# Content Wrapper. Contains page content #}
<div class="content-wrapper">

	{# Content Header (Page header) #}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">OpenVPN plain certification</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{% url 'ovpn:index' %}">Home</a></li>
						<li class="breadcrumb-item active">Main</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	{#  content-header END #}

	<section class="content">
		<div class="container-fluid">
			<div class="row">
			</div>

			{% if messages %}
				<ul class="flashes">
				{% for message in messages %}
					<div class="text-{{ message.tags }}">
						{{ message }}
					</div>
			{% endfor %}
				</ul>
			{% endif %}

			<div class="card">
			    <div class="card-header">
			    </div> {# /.card-header #}
			    <div class="card-body">
					<div class="table-responsive">
						<table id="tb_servers_list" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Filename</th>
									<th>size(KB)</th>
									<th>GrenerateDate</th>
									<th>Operation</th>
								</tr>
							</thead>
							<tbody>
							{% if plain_certs %}
							{% for cert in plain_certs %}
								<tr>
									<th>{{ cert.cert_name }}</th>
									<th>{{ cert.cert_size }}</th>
									<th>{{ cert.create_time }}</th>
									<th>
										<a href="{% url 'ovpn:plain_cert' ovpn_service=server.server_name cert_file=cert.cert_name %}" class="btn btn-primary">View</a>
										<a href="javascript:void(0);" class="btn btn-danger delete_plain_cert">Delete</a>
										<a href="javascript:void(0);" class="btn btn-primary download_plain_cert">Download</a>
									</th>
								</tr>
							{%  endfor %}
							{% endif %}
							</tbody>
						</table>
					</div>
			    </div>
			</div>
		</div>


		{# delete cert file modal #}
		<div class="modal fade" id="delete_plain_cert_modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="" method="post">
						<div class="modal-header">
							<h4 class="modal-title" id="udpate-myModalLabel">Delete plain certification file</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="Client cn"></div>
							<div id="current_site_name"></div>
							<div class="form-group hidden">
								{% csrf_token %}
								<input type="hidden" name="action" value="delete_plain_cert" />
								<label for="delete_plain_cert" class="control-label">certification file</label>
								<input type="text" class="form-control" name="delete_plain_cert" id="delete_plain_cert" readonly>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-danger">Confirm</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</section>
</div>
{% endblock %}

{% block page_js %}
<script>
	window.csrftoken="{{ csrf_token }}";
</script>
{% endblock %}