 {% load static %}
  <aside class="main-sidebar sidebar-light-primary elevation-4">
    {# Brand Logo #}
    <a href="javascript:void(0);" οnclick="method()" class="brand-link">
      <img src="{% static 'img/AdminLogo.png' %}" alt="Admin Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"> OpenVPNWebUI </span>
    </a>

    {# Sidebar #}
    <div class="sidebar">

      {# Sidebar Menu #}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {# Add icons to the links using the .nav-icon class with font-awesome or any other icon font library #}

          <li class="nav-item">
            <a href="{% url 'ovpn:index' %}" class="nav-link">
              <i class="nav-icon fa fa-dashboard"></i>
              <p>Dashboard</p>
            </a>
          </li>

		  <li class="nav-item">
            <a href="{% url 'ovpn:servers' %}" class="nav-link">
              <i class="nav-icon fa-regular fa-rectangle-list"></i>
              <p>OpenVPN services</p>
            </a>
          </li>


		{# OpenVPN Server detail #}
		{% if OPENVPN_SERVER_LIST %}
		{% for service_name, service_uuid in OPENVPN_SERVER_LIST.items %}
	       <li class="nav-item menu-open">
	        <a href="javascript:void(0);" class="nav-link">
	          <i class="nav-icon fa-solid fa-server"></i>
	          <p>
	            {{service_name}}
	            <i class="right fas fa-angle-left"></i>
	          </p>
	        </a>
	        <ul class="nav nav-treeview">
						
	          <li class="nav-item">
	            <a href="{% url 'ovpn:clients' ovpn_service=service_name %}" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>OVPN clients status</p>
	            </a>
	          </li>
	
	          <li class="nav-item">
	            <a href="/" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Generate boss cert</p>
	            </a>
	          </li>
	
	          <li class="nav-item">
	            <a href="/" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Generate generic cert</p>
	            </a>
	          </li>
	
	          <li class="nav-item">
	            <a href="/" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>BOSS REQ files</p>
	            </a>
	          </li>
	
	          <li class="nav-item">
	            <a href="/" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>BOSS cert files</p>
	            </a>
	          </li>
	
	          <li class="nav-item">
	            <a href="/" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Generic client certs</p>
	            </a>
	          </li>

	          <li class="nav-item">
	            <a href="{% url 'ovpn:server_logs' ovpn_service=service_name %}" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>OpenVPN logs</p>
	            </a>
	          </li>

	        </ul>
	      </li>
        {% endfor %}
		{% endif %}


		{% if request.session.authenticated.group == 'SUPER' or request.session.authenticated.group == 'ADMIN' %}
	      <li class="nav-item">
	        <a href="{% url 'users:users' %}" class="nav-link active">
	          <i class="nav-icon fa-solid fa-address-book"></i>
	          <p>Users Management</p>
	        </a>
	      </li>
	    {% endif %}


		{# management menu for privis users #}
		{% if request.session.authenticated.group == 'SUPER' %}
	       <li class="nav-item menu-open">
	        <a href="javascript:void(0);" class="nav-link">
	          <i class="nav-icon fas fa-gear"></i>
	          <p>
	            System Configuration
	            <i class="right fas fa-angle-left"></i>
	          </p>
	        </a>
	        <ul class="nav nav-treeview">
						
	          <li class="nav-item">
	            <a href="{% url 'ovpn:system_config' %}" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Common config</p>
	            </a>
	          </li>
	
	          <li class="nav-item">
	            <a href="/" target="_blank" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>All proxy config</p>
	            </a>
	          </li>
	          
	          <li class="nav-item">
	            <a href="/" target="_blank" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Proxy config template</p>
	            </a>
	          </li>

	          <li class="nav-item">
	            <a href="{% url 'ovpn:settings' %}" target="_blank" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Django settings</p>
	            </a>
	          </li>

			  <li class="nav-item">
	            <a href="{% url 'ovpn:sessions' %}" target="_blank" class="nav-link">
	              <i class="nav-icon far fa-file"></i>
	              <p>Django sessions</p>
	            </a>
	          </li>

	        </ul>
	      </li>
        {% endif %}
        
        </ul>
      </nav>
      {# /.sidebar-menu #}
    </div>
    {# /.sidebar #}
  </aside>
